$blue-color: #42a7fe;
$green-color: #16c090;
$primary-color: #fa4c53;
$secondary-color: #fd9c84;
$gradient: linear-gradient(to right, $primary-color, $secondary-color);
$text-color: #291667;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}
@mixin textOverflow($clamp: 2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
///////////////////////////////////////////
input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
///////////////////////////////////////////
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
body {
  background-color: #f3f3f3;
  padding: 2rem;
}

//////////////////////////////////////////
// Grid phần 5 -> grid-template-areas(parent) va grid-area(child)
.grid {
  display: grid;
  grid-template-areas:
    "i1 i1 i2 i3"
    "i1 i1 i6 i6"
    "i4 i5 i6 i6";
  gap: 2rem;
  &-item {
    img {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
    &:first-child {
      grid-area: i1;
    }
    &:nth-child(2) {
      grid-area: i2;
    }
    &:nth-child(3) {
      grid-area: i3;
    }
    &:nth-child(4) {
      grid-area: i4;
    }
    &:nth-child(5) {
      grid-area: i5;
    }
    &:last-child {
      grid-area: i6;
    }
  }
}
