:root {
    --primary-color: #ffa400;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
.title::before {
    /* content: ""; bat buoc phai co content */
    content: "Toi ten la ";
}
.title::after {
    content: " dang hoc HTML CSS";
}
