* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
ul {
    font-size: 4rem;
    font-weight: bold;
}
li:first-child {
    color: red;
}
li:last-child {
    color: orange;
}
li:nth-child(2) {
    color: purple;
}
li:nth-child(4) {
    color: violet;
}
li:nth-last-child(2) {
    color: yellowgreen;
}
li:not(:first-child) {
    color: green;
}
li:not(:last-child) {
    color: blue;
}
li:nth-child(odd) {
    color: black;
}
li:nth-child(even) {
    color: purple;
}
li:nth-child(2n + 3) {
    color: aqua;
}
