$blue-color: #42a7fe;
$green-color: #16c090;
$primary-color: #fa4c53;
$secondary-color: #fd9c84;
$gradient: linear-gradient(to right, $primary-color, $secondary-color);
$text-color: #291667;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}
@mixin textOverflow($clamp: 2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
///////////////////////////////////////////
input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
///////////////////////////////////////////
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
body {
  background-color: #f3f3f3;
  padding: 2rem;
}

//////////////////////////////////////////
// Custom Backdrop Filter, support: Chrome, Safari, Opera, Edge
body {
  background-image: url("https://images.unsplash.com/photo-1739382120576-b1434e8bc4d3?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(black, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  // backdrop-filter: grayscale(10);
  // -webkit-backdrop-filter: grayscale(10);
}
.content {
  width: 70vw;
  height: 80vh;
  padding: 5rem;
  background-color: #fff;
}
// Responsive for iframe
:root {
  --ratio: 16/9;
}
.wrapper {
  height: 0;
  position: relative;
  padding-bottom: calc(100% / (var(--ratio)));
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
  }
}
