input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #f3f3f3;
  padding: 2rem;
}

body {
  background-color: white;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  height: 500px;
  color: white;
  position: relative;
}
.container::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #07047e, #1a3bda);
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 85%, 45% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 85%, 45% 90%, 0 100%);
}