$blue-color: #42a7fe;
$green-color: #16c090;
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
@mixin flexbox(
    $align: flex-start,
    $justify: flex-start,
    $direction: row,
    $wrap: nowrap
) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
body {
    background-color: #f3f3f3;
}
.post {
    padding: 2rem;
    margin: 5rem auto;
    max-width: 40rem;
    background-color: white;
    border-radius: 2rem;
    @include flexbox(center);
    &__media {
        width: 10rem;
        height: 10rem;
        border-radius: inherit;
        // Hình nhỏ thì nên dùng, hình to thì nguy hiểm
        flex-shrink: 0;
    }
    &__content {
        // width: calc(100% - 10rem);
        // Chiếm hết phần còn lại (tuỳ theo chỉ số nữa)
        flex-grow: 1;
        width: 100%;
    }
}
