html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.post__list {
  padding: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: -2rem;
}
.post__item {
  margin-left: 2rem;
  width: calc(33.3333333333% - 2rem);
}
.post__image {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.post__content {
  padding: 2rem;
  background-color: white;
  border: 1px solid #eee;
  height: calc(100% - 20rem);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.post__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.post__author {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: auto;
}