input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #f3f3f3;
  padding: 2rem;
}

.square {
  width: 5rem;
  height: 5rem;
  background-color: orange;
  box-shadow: 6rem 0 0 0 green, 12rem 0 0 0 red, 0 6rem 0 0 blue, 0 12rem 0 0 yellow, 6rem 6rem 0 0 purple, 12rem 12rem 0 0 pink, 12rem 6rem 0 0 brown, 6rem 12rem 0 0 gray;
}

.master-card {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  background-color: orange;
  box-shadow: 5.5rem 0 0 0 red;
}