:root {
    --primary-color: #ffa400;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
.boxed {
    width: 10rem;
    height: 10rem;
    position: relative;
    margin: 2rem;
}
/* Những phần xoay nên để vào before after vì nếu xoay phần tử cha thì phần tư con cũng xoay theo */
.boxed::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: rotate(45deg);
    z-index: -1;
}
