$primary-color: #00aefd;
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
p {
    color: $primary-color;
}
// .header{}
// .header-top{}
// .header-content{}
// .header-content:hover{}
// .header-content::before{}
// .header-content::after{}
// .header-content:hover::before{}
.header {
    &-top {
        color: red;
        &:hover {
            color: orange;
        }
    }
    &-content {
        font-size: 10rem;
    }
}
// @mixin mixinName(){}
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
@mixin bg($color: black) {
    background-color: $color;
}
.boxed {
    // @include size(50px);
    @include size(100px, 100px);
    @include bg;
    // @include bg(red);
}
@mixin absoluteCenter($direction: "left") {
    position: absolute;
    @if $direction == "both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @if $direction == "left" {
        left: 50%;
        transform: translateX(-50%);
    }
    @if $direction == "top" {
        top: 50%;
        transform: translateY(-50%);
    }
}
.container {
    @include size(100%, 40rem);
    @include bg(orange);
    position: relative;
    .boxing {
        @include size(10rem, 10rem);
        @include bg(white);
        @include absoluteCenter("both");
    }
}
