* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
body {
    width: 100%;
    height: 100vh;
}
.video {
    width: 500px;
    height: 300px;
    position: relative;
}
.video__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__icon {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
